@charset "UTF-8";

/* rank histogram */
/* for SP */
#canvasWrapper{
  position:fixed;
  bottom:0;
  left: 50%;
  margin-left:-160px;
  width:320px;
  height:90px;
}

#histgram{
  width:320px;
  height:90px;

  background-color: rgba(0, 0, 255, 0.0);
  color: #ffffff;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

/* for Tablet */
@media screen and (min-width: 500px) and (max-width:680px) {
  #canvasWrapper{
    margin-left:-250px;
    width:500px;
  }

  #histgram{
    width:500px;
  }
}

/* for PC narrow */
@media screen and (min-width: 680px) and (max-width:800px) {
  #canvasWrapper{
    margin-left:-340px;
    width:680px;
  }

  #histgram{
    width:680px;
  }
}
/* for PC medium */
@media screen and (min-width: 800px) and (max-width:1000px) {
  #canvasWrapper{
    margin-left:-400px;
    width:800px;
  }

  #histgram{
    width:800px;
  }
}

/* for PC wide */
@media screen and (min-width:1000px) {
  #canvasWrapper{
    margin-left:-450px;
    width:900px;
  }

  #histgram{
    width:900px;
  }
}

.canvasWrapperPointer{
  cursor: pointer;
}

#tooltipHist {
  position: absolute;
  text-align: center;
  font-size: 12px;
  padding : 1px 5px 1px 5px;
  color: #ffffff;
  opacity: 0.0;
  background-color: #646464;
  border-radius: 5px;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

#tooltipHist:before{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border: 5px solid transparent;
  border-top: 5px solid #646464;
}


