@charset "UTF-8";

/*
hamburger menu
*/
/* global menu */
nav.globalMenu {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  text-align: center;
  transform: translateX(100%);
  transition: all 0.6s;
  width: 100%;
  cursor: pointer;

  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

nav.globalMenu ul {
  background: #333333;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenu ul li {
  font-size: 1.0em;
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px dotted #777777;
}

/* 最後はラインを描かない */
nav.globalMenu ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

nav.globalMenu ul li a {
  display: block;
  color: #ffffff;
  padding: 1em 0;
  text-decoration: none;
}

nav.globalMenu.active {
  transform: translateX(0%);
}

/* responsive */
@media screen and (min-width: 600px) {
  nav.globalMenu {
    left: 60%;
    width: 40%;
  }
}


/* hamburger */
.navToggle {
  display: block;
  position: fixed;
  top: 5px;
  right: 5px;

  width: 37px;
  height: 46px;
  cursor: pointer;
  z-index: 3;
  text-align: center;

  font-family: 'Nunito', sans-serif;
  font-weight: 200;
}

.navToggle span {
  display: block;
  position: absolute;
  width: 27px;
  border-bottom: solid 2px #eeeeee;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
  left: 5px;
}

.navToggle span:nth-child(1) {
  top: 8px;
}

.navToggle span:nth-child(2) {
  top: 16px;
}

.navToggle span:nth-child(3) {
  top: 24px;
}

.navToggle span:nth-child(4) {
  border: none;
  color: #eeeeee;
  font-size: 9px;
  font-weight: bold;
  top: 30px;
}

/* hamburger after tap */
.navToggle.active span:nth-child(1) {
  top: 16px;
  left: 5px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.navToggle.active span:nth-child(2),
.navToggle.active span:nth-child(3) {
  top: 16px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}



/*
modal window(responsive)
*/
/* modal global setting */
#modalOverlay {
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContentWrapper{
  display: none;
}

.modalContent{
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 50px 300px;

  top: 50%;
  left: 50%;
  margin-top:-185px;
  margin-left:-150px;
  border: 2px solid #aaaaaa;
  background: #dddddd;
  position: fixed;
  z-index: 2;

  width:300px;
  height:350px;

  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.modalTitle{
  grid-raw: 1 / 2;
  text-align: center;
  line-height: 50px;
  font-size: 1.7em;
  border: 1px dotted #aaaaaa;
  background: #bbbbbb;

  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

.modalClose  {
  display: block;
  position: absolute;
  right: 0;
  padding: 0 15px;
  line-height: 50px;
  font-size: 2.0em;
  cursor: pointer;
}


/* responsive */
@media screen and (min-width: 600px) {
  .modalContent {
    grid-template-columns: 600px;
    margin-left: -300px;
    width: 600px;
  }
}


/* modal1 */


/* modal2 */
＃settingContent{
  grid-raw: 2 / 3;

  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 40px 60px 40px 60px 40px 60px;

  width:300px;
  height:300px;

}

/* safari */
/*@media screen and (-webkit-min-device-pixel-ratio: 0) {*/
  /*_::-webkit-full-page-media, _:future, :root #wbButton1 li {*/
    /*border: 0;*/
    /*width: 73px;*/
    /*height: 58px;*/
  /*}*/
/*}*/

#settingContent ul{
  list-style: none;
  overflow: hidden;
}

#settingContent p{
  /* title */
  text-align: center;
  font-size: 1.2em;
  height: 40px;
  line-height: 40px;
}

#settingContent li {
  text-align: center;
  font-size: 1.0em;
  float: left;
  height: 60px;
  line-height: 60px;
}

#settingContent li:hover {
  background: #ffa443;
  cursor: pointer;
}

#settingContentTitle1{
  /*border: 1px dotted #aaaaaa;*/
  background: #d7d7d7;
  grid-raw: 1 / 2;
}

#wbButton1{
  grid-raw: 2 / 3;
}

#wbButton1 li {
  border: 1px dotted #aaaaaa;
  width: 73px;
  height: 58px;
}

#settingContentTitle2{
  /*border: 1px dotted #aaaaaa;*/
  background: #d7d7d7;
  grid-raw: 3 / 4;
}

#infoType {
  grid-raw: 4 / 5;
}

#infoType li {
  border: 1px dotted #aaaaaa;
  width: 148px;
  height: 58px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  _::-webkit-full-page-media, _:future, :root #wbButton1 li {
    border: 1px dotted #aaaaaa;
    width: 72px;
    height: 57px;
  }

  _::-webkit-full-page-media, _:future, :root #infoType li {
    border: 1px dotted #aaaaaa;
    width: 147px;
    height: 57px;
  }
}

#wbButton2 {
  position: fixed;
  top: 70%;
  /*left: 100px;*/
  padding-left: 5px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color: #ffffff;

  list-style: none;
}


#wbButton2 li{
  padding-left: 5px;
  padding-right: 5px;
}

#wbButton2 li:hover {
  background: #ffa443;
  cursor: pointer;
}


.hiddenBtn{
  opacity: 0.0;
}
.normalBtn{
  /*background: #646464;*/
  opacity: 1.0;
}
.selectedBtn{
  background: #ffa443;
}

/* responsive */
@media screen and (min-width: 600px) {
  ＃settingContent {
    grid-template-columns: 600px;
    width: 600px;
  }

  #wbButton1 li {
    width: 148px;
  }

  #infoType li {
    width: 198px;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    _::-webkit-full-page-media, _:future, :root #wbButton1 li {
      border: 1px dotted #aaaaaa;
      width: 147px;
      height: 57px;
    }

    _::-webkit-full-page-media, _:future, :root #infoType li {
      border: 1px dotted #aaaaaa;
      width: 197px;
      height: 57px;
    }
  }
}