@charset "UTF-8";

/* travel mode switch */
#travelModeSwitch {
  position: fixed;
  top: 5px;
  left: 5px;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  opacity: 0.0;
}

#travelModeSwitch-checkbox {
  display: none;
}

#travelModeSwitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

#travelModeSwitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

#travelModeSwitch-inner:before, #travelModeSwitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 15px;
  font-size: 14px;
  color: #ffffff;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

#travelModeSwitch-inner:before {
  content: "Manual\A\00a0Travel";
  white-space: pre;
  padding-left: 10px;
  background-color: #647d7d;
  color: #ffffff;
}

#travelModeSwitch-inner:after {
  content: "Auto\00a0\ATravel";
  padding-right: 18px;
  background-color: #111111;
  color: #ffffff;
  text-align: right;
}

#travelModeSwitch-switch {
  display: block;
  width: 18px;
  margin: 6px;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  transition: all 0.3s ease-in 0s;
}

#travelModeSwitch-checkbox:checked + #travelModeSwitch-label #travelModeSwitch-inner {
  margin-left: 0;
}

#travelModeSwitch-checkbox:checked + #travelModeSwitch-label #travelModeSwitch-switch {
  right: 0;
}

#stopMove {
  position: fixed;
  top: 40px;
  left:5px;
  width: 90px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;

  text-align: center;
  /*padding : 0.1em 0.5em 0.1em 0.5em;*/
  color: #ffffff;
  opacity: 0.0;
  background-color: #111111;
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 10px;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}
