@charset "UTF-8";

/*
infoBoard1(visual)
*/
#infoBoard {
  @include wellbeingVisualBoard;
  grid-template-columns: $sColumnWidth $sColumnWidth $sColumnWidth $sColumnWidth;
  grid-template-rows: $sVisualBoardTextHeight $sVisualBoardContentHeight;

  @include media(w680_800) {
    grid-template-columns: $mColumnWidth $mColumnWidth $mColumnWidth $mColumnWidth;
  }

  @include media(w800_1000) {
    grid-template-columns: $lColumnWidth $lColumnWidth $lColumnWidth $lColumnWidth;
  }

  @include media(w1000_) {
    grid-template-columns: $xlColumnWidth $xlColumnWidth $xlColumnWidth $xlColumnWidth;
    grid-template-rows: $lVisualBoardTextHeight $lVisualBoardContentHeight;

  }
}

#country {
  @include wellbeingVisualBoardCountry;
  grid-column: 1 / 5;
  grid-raw: 1 / 2;
}

#Ladder {
  grid-column: 1 / 2;
  @include wellbeingContent;
}

#LadderTitle {
  @include wellbeingTitle;
}

#LadderRanking {
  grid-column: 1 / 2;
  grid-raw: 2 / 3;
}

#Positive {
  grid-column: 2 / 3;
  @include wellbeingContent;
}

#PositiveTitle {
  @include wellbeingTitle;
}

#PositiveRanking {
  grid-column: 1 / 2;
  grid-raw: 2 / 3;
}

#Negative {
  grid-column: 3 / 4;
  @include wellbeingContent;
}

#NegativeTitle {
  @include wellbeingTitle;
}

#NegativeRanking {
  grid-column: 1 / 2;
  grid-raw: 2 / 3;
}

#GDP {
  grid-column: 4 / 5;
  @include wellbeingContent;
}

#GDPTitle {
  @include wellbeingTitle;
}

#GDPRanking {
  grid-column: 1 / 2;
  grid-raw: 2 / 3;
}

.infoContentsSVG {
  width: $sColumnWidth;
  height: 80px;

  @include media(w680_800) {
    width: $mColumnWidth;
  }

  @include media(w800_1000) {
    width: $lColumnWidth;
  }

  @include media(w1000_) {
    width: $xlColumnWidth;
    height: 100px;
  }
}

.infoContentsCircle1 {
  r: 40px;

  @include media(w1000_) {
    r: 48px;
  }
}

.infoContentsCircle2 {
  r: 20px;

  @include media(w1000_) {
    r: 24px;
  }
}

/*
timeline(visual)
*/
#infoBoardTimeline {
  @include wellbeingVisualBoard;

  grid-template-columns: $sColumnWidth * 4;
  grid-template-rows: $sVisualBoardTextHeight ($sVisualBoardContentHeight - $timelineScaleHeight) $timelineScaleHeight;

  @include media(w680_800) {
    grid-template-columns: $mColumnWidth * 4;
  }

  @include media(w800_1000) {
    grid-template-columns: $lColumnWidth * 4;
  }

  @include media(w1000_) {
    grid-template-columns: $xlColumnWidth * 4;
    grid-template-rows: $lVisualBoardTextHeight ($lVisualBoardContentHeight - $timelineScaleHeight) $timelineScaleHeight;
  }
}

#country4 {
  @include wellbeingVisualBoardCountry;
  grid-raw: 1 / 2;
}

#infoBoardTimelineSvg {
  grid-raw: 2 / 3;
  width: $sColumnWidth * 4;
  height: $sVisualBoardContentHeight - $timelineScaleHeight;

  @include media(w680_800) {
    width: $mColumnWidth * 4;
  }

  @include media(w800_1000) {
    width: $lColumnWidth * 4;
  }

  @include media(w1000_) {
    width: $xlColumnWidth * 4;
    height: $lVisualBoardContentHeight - $timelineScaleHeight;
  }

  background-color: #444444;
}

#infoBoardTimelineScale {
  grid-raw: 3 / 4;
  width: $sColumnWidth * 4;
  height: $timelineScaleHeight;

  @include media(w680_800) {
    width: $mColumnWidth * 4;
  }

  @include media(w800_1000) {
    width: $lColumnWidth * 4;
  }

  @include media(w1000_) {
    width: $xlColumnWidth * 4;
  }

  background-color: #444444;
}

/*
infoBoard2(text)
*/

#infoBoard2 {
  @extend %infoTypeTextWrapper;
}

#country2 {
  opacity: 0.0;
  line-height: 25px;
  font-size: 22px;
}

.infoBoardContent2 {
  /*margin-left:5px;*/
  opacity: 0.0;
  line-height: 25px;
  font-size: 20px;
}

/*
infoBoard2(text small for pantheon)
*/

#infoBoard2s {
  display: none;
  position: fixed;
  top: 70%;
  /*left: 100px;*/
  padding-left: 5px;
  font-family: $font-main;
  font-weight: 400;
  color: #ffffff;

  list-style: none;

  li {
    padding-left: 5px;
    padding-right: 5px;
  }
}

/*
infoBoard3(pantheon)
*/
#infoBoard3 {
  @extend %infoTypeTextWrapper;
  display: none;
}

#country3 {
  /*opacity: 0.0;*/
  line-height: 25px;
  font-size: 22px;
}

.infoBoardContent3 a {
  /*opacity: 0.0;*/
  text-decoration: none;
  color: #ffffff;
  line-height: 30px;
  font-size: 18px;

  &:hover {
    color: #aeccfc;
  }
}

