@charset "UTF-8";

/*
modal window(responsive)
*/
/* modal global setting */
#modalOverlay {
  @include z-index(modalOverlay);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContentWrapper {
  display: none;
}

.modalContent {
  display: grid;
  grid-template-columns: ($modalContentWidth / 2);
  grid-template-rows: $modalTitleHeight ($modalContentWidth / 2);

  top: 50%;
  left: 50%;
  margin-top: -(($modalTitleHeight + ($modalContentWidth / 2)) / 2);
  margin-left: -(($modalContentWidth / 2) / 2);
  border: 2px solid #aaaaaa;
  background: #dddddd;
  position: fixed;
  @include z-index(modalContent);

  width: ($modalContentWidth / 2);
  height: ($modalTitleHeight + ($modalContentWidth / 2));

  font-family: $font-main;
  font-weight: 400;

  @include media(w_600) {
    grid-template-columns: $modalContentWidth;
    margin-left: -($modalContentWidth / 2);
    width: $modalContentWidth;
  }

  span {
    font-size: 0.8em !important;
  }
}

.modalTitle {
  grid-raw: 1 / 2;
  text-align: center;
  line-height: 50px;
  font-size: 1.7em;
  border: 1px dotted #aaaaaa;
  background: #bbbbbb;

  font-family: $font-main;
  font-weight: 700;
}

.modalClose {
  display: block;
  position: absolute;
  right: 0;
  padding: 0 15px;
  line-height: 50px;
  font-size: 2.0em;
  cursor: pointer;
}


.contentBtnTitle{
  font-weight: 500;
}

#dataNote {
  p {
    font-weight: 100 !important;
    font-size: 0.7em !important;
    height: 15px !important;
    line-height: 15px !important;
  }

  #dataNoteTitle{
    font-weight: 300 !important;
    font-size: 0.8em !important;
    height: 20px !important;
  }
}


/* modal1 */
#aboutContent {
  p {
    margin-left: 10px;
    text-align: left;
    font-size: 1.2em;
    height: 40px;
    line-height: 40px;
  }
}


/* modal2 */
#settingContent {
  grid-raw: 2 / 3;

  display: grid;
  grid-template-columns: ($modalContentWidth / 2);
  grid-template-rows: 40px 60px 40px 60px 40px 60px;

  width: ($modalContentWidth / 2);
  height: ($modalContentWidth / 2);

  @include media(w_600) {
    grid-template-columns: $modalContentWidth;
    width: $modalContentWidth;

  }
}


#settingContent {
  ul {
    list-style: none;
    overflow: hidden;
  }

  p {
    /* title */
    text-align: center;
    font-size: 1.2em;
    height: 40px;
    line-height: 40px;
  }

  li {
    text-align: center;
    font-size: 1.0em;
    float: left;
    height: 60px;
    line-height: 60px;

    &:hover {
      background: $buttonColor;
      cursor: pointer;
    }
  }
}

#settingContentTitle1 {
  /*border: 1px dotted #aaaaaa;*/
  background: #d7d7d7;
  grid-raw: 1 / 2;
}

#wbButton1 {
  grid-raw: 2 / 3;

  li {
    border: 1px dotted #aaaaaa;
    width: ($modalContentWidth / 2) / $numWbType - 2px;
    height: 58px;

    @include media(w_600) {
      width: $modalContentWidth / $numWbType - 2px;
    }
  }
}

#settingContentTitle2 {
  /*border: 1px dotted #aaaaaa;*/
  background: #d7d7d7;
  grid-raw: 3 / 4;
}

#travelMode {
  grid-raw: 4 / 5;

  li {
    border: 1px dotted #aaaaaa;
    width: ($modalContentWidth / 2) / $numTravelMode - 2px;
    height: 58px;

    @include media(w_600) {
      width: $modalContentWidth / $numTravelMode - 2px;
    }
  }
}


#settingContentTitle3 {
  /*border: 1px dotted #aaaaaa;*/
  background: #d7d7d7;
  grid-raw: 5 / 6;
}

#infoType {
  grid-raw: 6 / 7;

  li {
    border: 1px dotted #aaaaaa;
    width: ($modalContentWidth / 2) / $numInfoType - 2px;
    height: 58px;

    @include media(w_600) {
      width: $modalContentWidth / $numInfoType - 2px;
    }
  }
}

/* modal3 */
#optionContent {
  grid-raw: 2 / 3;

  display: grid;
  grid-template-columns: ($modalContentWidth / 2);
  grid-template-rows: 40px 60px 40px 60px 40px 60px;

  width: ($modalContentWidth / 2);
  height: ($modalContentWidth / 2);

  @include media(w_600) {
    grid-template-columns: $modalContentWidth;
    width: $modalContentWidth;

  }
}


#optionContent {
  ul {
    list-style: none;
    overflow: hidden;
  }

  p {
    /* title */
    text-align: center;
    font-size: 1.2em;
    height: 40px;
    line-height: 40px;
  }

  li {
    text-align: center;
    font-size: 1.0em;
    float: left;
    height: 60px;
    line-height: 60px;

    &:hover {
      background: $buttonColor;
      cursor: pointer;
    }
  }
}

#optionContentTitle1 {
  /*border: 1px dotted #aaaaaa;*/
  background: #d7d7d7;
  grid-raw: 1 / 2;
}

#optionSound {
  grid-raw: 2 / 3;

  li {
    border: 1px dotted #aaaaaa;
    width: ($modalContentWidth / 2) / $numOnOff - 2px;
    height: 58px;

    @include media(w_600) {
      width: $modalContentWidth / $numOnOff - 2px;
    }
  }
}


#optionContentTitle2 {
  /*border: 1px dotted #aaaaaa;*/
  background: #d7d7d7;
  grid-raw: 3 / 4;
}

#optionMagnifying {
  grid-raw: 4 / 5;

  li {
    border: 1px dotted #aaaaaa;
    width: ($modalContentWidth / 2) / $numOnOff - 2px;
    height: 58px;

    @include media(w_600) {
      width: $modalContentWidth / $numOnOff - 2px;
    }
  }
}


/* modal4 */
#dataContent {
  p {
    margin-left: 10px;
    text-align: left;
    font-size: 1.2em;
    height: 40px;
    line-height: 40px;
  }
}



#wbButton2 {
  position: fixed;
  top: 70%;
  /*left: 100px;*/
  padding-left: 5px;
  font-family: $font-main;
  font-weight: 400;
  color: #ffffff;

  list-style: none;

  li {
    padding-left: 5px;
    padding-right: 5px;

    &:hover {
      background: $buttonColor;
      cursor: pointer;
    }
  }
}

.hiddenBtn {
  opacity: 0.0;
}

.normalBtn {
  /*background: #646464;*/
  opacity: 1.0;
}

.selectedBtn {
  background: $buttonColor;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  _::-webkit-full-page-media, _:future, :root #wbButton1 li {
    border: 1px dotted #aaaaaa;
    width: ($modalContentWidth / 2) / $numWbType - 3px;
    height: 57px;

    @include media(w_600) {
      width: $modalContentWidth / $numWbType - 3px
    }
  }

  _::-webkit-full-page-media, _:future, :root #infoType li {
    border: 1px dotted #aaaaaa;
    width: ($modalContentWidth / 2) / $numInfoType - 3px;
    height: 57px;

    @include media(w_600) {
      width: $modalContentWidth / $numInfoType - 3px
    }
  }

  _::-webkit-full-page-media, _:future, :root #optionSound li {
    border: 1px dotted #aaaaaa;
    width: ($modalContentWidth / 2) / $numOnOff - 3px;
    height: 57px;

    @include media(w_600) {
      width: $modalContentWidth / $numOnOff - 3px
    }
  }

  _::-webkit-full-page-media, _:future, :root #optionMagnifying li {
    border: 1px dotted #aaaaaa;
    width: ($modalContentWidth / 2) / $numOnOff - 3px;
    height: 57px;

    @include media(w_600) {
      width: $modalContentWidth / $numOnOff - 3px
    }
  }
}
