@charset "UTF-8";

* {margin: 0; padding: 0;}

html, body {
  overflow: hidden;
}

#webgl{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.wrapper {
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  /*display: none;*/
  /*visibility : hidden;*/
}

.main {
  position:absolute;
  top:0;
  left:0;
  float: left;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.0);
}


/* scroll text */
.fadein span{
  color: #ffffff;
  opacity:0;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
}

.fadein{
  position: absolute;
  top: 30%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 50%;
  /*height: 4.0rem;*/
  text-align: center;
}


/*
score board(responsive)
*/
/* For SP */
#infoBoard{
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 25px 95px 95px;

  position:fixed;
  top:0;
  right:15%;
  left: 50%;
  margin-left:-150px;

  width:300px;
  height:215px;

  background-color: rgba(0, 0, 255, 0.5);
  opacity: 0.0;
  color: #ffffff;
  text-align: center;

  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

#country{
  grid-column: 1 / 5;
  grid-raw: 1 / 2;
  background-color: #333333;
  font-size: 1.3em;
  font-weight: 400;
}

#Ladder{
  grid-column: 1 / 2;
  grid-raw: 2 / 3;
  background-color: #444444;

  display: grid;
  grid-template-columns: 150px;
  grid-template-rows: 15px 80px;
}
#LadderTitle{
  font-size: 0.69em;
  grid-column: 1 / 2;
  grid-raw: 1 / 2;
  font-weight: 200;
}
#LadderRanking{
  grid-column: 1 / 2;
  grid-raw: 2 / 3;
}

#Positive{
  grid-column: 2 / 3;
  grid-raw: 2 / 3;
  background-color: #444444;

  display: grid;
  grid-template-columns: 150px;
  grid-template-rows: 15px 80px;
}
#PositiveTitle{
  font-size: 0.69em;
  grid-column: 1 / 2;
  grid-raw: 1 / 2;
  font-weight: 200;
}
#PositiveRanking{
  grid-column: 1 / 2;
  grid-raw: 2 / 3;
}

#Negative{
  grid-column: 1 / 2;
  grid-raw: 4 / 5;
  background-color: #444444;
  display: grid;
  grid-template-columns: 150px;
  grid-template-rows: 15px 80px;
}
#NegativeTitle{
  font-size: 0.69em;
  grid-column: 1 / 2;
  grid-raw: 1 / 2;
  font-weight: 200;
}
#NegativeRanking{
  grid-column: 1 / 2;
  grid-raw: 2 / 3;
}

#GDP{
  grid-column: 2 / 3;
  grid-raw: 4 / 5;
  background-color: #444444;
  display: grid;
  grid-template-columns: 150px;
  grid-template-rows: 15px 80px;
}
#GDPTitle{
  font-size: 0.69em;
  grid-column: 1 / 2;
  grid-raw: 1 / 2;
  font-weight: 200;
}
#GDPRanking{
  grid-column: 1 / 2;
  grid-raw: 2 / 3;
}


/* for tablet & PC(medium) */
@media screen and (min-width: 600px) and (max-width:900px) {
  #infoBoard{
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 25px 95px;

    position:fixed;
    top:0;
    /*right:15%;*/
    left: 50%;
    margin-left:-300px;

    width:600px;
    height:120px;

    background-color: rgba(0, 0, 255, 0.5);
    opacity: 0.0;
    color: #ffffff;
    text-align: center;

    font-family: 'Nunito', sans-serif;
    font-weight: 300;
  }

  #country{
    grid-column: 1 / 5;
    grid-raw: 1 / 2;
    background-color: #333333;
    font-size: 1.3em;
    font-weight: 400;
  }

  #Ladder{
    grid-column: 1 / 2;
    grid-raw: 2 / 3;
    background-color: #444444;

    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 15px 80px;
  }
  #LadderTitle{
    font-size: 0.69em;
    grid-column: 1 / 2;
    grid-raw: 1 / 2;
    font-weight: 200;
  }
  #LadderRanking{
    grid-column: 1 / 2;
    grid-raw: 2 / 3;
  }

  #Positive{
    grid-column: 2 / 3;
    grid-raw: 2 / 3;
    background-color: #444444;

    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 15px 80px;
  }
  #PositiveTitle{
    font-size: 0.69em;
    grid-column: 1 / 2;
    grid-raw: 1 / 2;
    font-weight: 200;
  }
  #PositiveRanking{
    grid-column: 1 / 2;
    grid-raw: 2 / 3;
  }

  #Negative{
    grid-column: 3 / 4;
    grid-raw: 2 / 3;
    background-color: #444444;
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 15px 80px;
  }
  #NegativeTitle{
    font-size: 0.69em;
    grid-column: 1 / 2;
    grid-raw: 1 / 2;
    font-weight: 200;
  }
  #NegativeRanking{
    grid-column: 1 / 2;
    grid-raw: 2 / 3;
  }

  #GDP{
    grid-column: 4 / 5;
    grid-raw: 2 / 3;
    background-color: #444444;
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 15px 80px;
  }
  #GDPTitle{
    font-size: 0.69em;
    grid-column: 1 / 2;
    grid-raw: 1 / 2;
    font-weight: 200;
  }
  #GDPRanking{
    grid-column: 1 / 2;
    grid-raw: 2 / 3;
  }
}

/* for PC(wide) */
@media screen and (min-width: 900px) {
  #infoBoard{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 30px 120px;

    position:fixed;
    top:0;
    /*right:15%;*/
    left: 50%;
    margin-left:-400px;

    width:800px;
    height:150px;

    background-color: rgba(0, 0, 255, 0.5);
    opacity: 0.0;
    color: #ffffff;
    text-align: center;

    font-family: 'Nunito', sans-serif;
    font-weight: 300;
  }

  #country{
    grid-column: 1 / 5;
    grid-raw: 1 / 2;
    background-color: #333333;
    font-size: 1.5em;
    font-weight: 400;
  }

  #Ladder{
    grid-column: 1 / 2;
    grid-raw: 2 / 3;
    background-color: #444444;

    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 20px 100px;
  }
  #LadderTitle{
    font-size: 1.05em;
    grid-column: 1 / 2;
    grid-raw: 1 / 2;
    font-weight: 200;
  }
  #LadderRanking{
    grid-column: 1 / 2;
    grid-raw: 2 / 3;
  }

  #Positive{
    grid-column: 2 / 3;
    grid-raw: 2 / 3;
    background-color: #444444;

    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 20px 100px;
  }
  #PositiveTitle{
    font-size: 1.05em;
    grid-column: 1 / 2;
    grid-raw: 1 / 2;
    font-weight: 200;
  }
  #PositiveRanking{
    grid-column: 1 / 2;
    grid-raw: 2 / 3;
  }

  #Negative{
    grid-column: 3 / 4;
    grid-raw: 2 / 3;
    background-color: #444444;
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 20px 100px;
  }
  #NegativeTitle{
    font-size: 1.05em;
    grid-column: 1 / 2;
    grid-raw: 1 / 2;
    font-weight: 200;
  }
  #NegativeRanking{
    grid-column: 1 / 2;
    grid-raw: 2 / 3;
  }

  #GDP{
    grid-column: 4 / 5;
    grid-raw: 2 / 3;
    background-color: #444444;
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 20px 100px;
  }
  #GDPTitle{
    font-size: 1.05em;
    grid-column: 1 / 2;
    grid-raw: 1 / 2;
    font-weight: 200;
  }
  #GDPRanking{
    grid-column: 1 / 2;
    grid-raw: 2 / 3;
  }
}

#country:focus {
    outline: none;
}

/*
infoBoardSVG(responsive)
*/
/* for SP & tablet & PC(medium) */
.infoContentsSVG {
  width: 150px;
  height: 80px;
}

.infoContentsCircle1 {
  cx: 75px;
  cy: 40px;
  r: 40px;
}

.infoContentsCircle2 {
  cx: 75px;
  cy: 40px;
  r: 20px;
}

.infoContentsCircle3 {
  cx: 75px;
  cy: 40px;
  /*r: 0px;*/
}

/* for PC(wide) */
@media screen and (min-width: 900px) {
  .infoContentsSVG {
    width: 200px;
    height: 100px;
  }

  .infoContentsCircle1 {
    cx: 100px;
    cy: 48px;
    r: 48px;
  }

  .infoContentsCircle2 {
    cx: 100px;
    cy: 48px;
    r: 24px;
  }

  .infoContentsCircle3 {
    cx: 100px;
    cy: 48px;
    /*r: 0px;*/
  }
}


/*
switch type button(responsive)
*/
/* for SP */
#rankingWrapper{
  display: grid;
  grid-template-columns: 320px;
  grid-template-rows: 120px 30px;

  position:fixed;
  bottom:0;
  left: 50%;
  margin-left:-160px;

  width:320px;
  height:150px;

}

#btn{
  grid-raw: 2 / 3;
  background-color: rgba(255, 255, 255, 0.0);
  /*opacity: 0.1;*/
  font-family: 'Nunito', sans-serif;
  font-weight: 400;


  list-style: none;
  overflow: hidden;
}

#btn li {
  width: 80px;
  text-align: center;
  color: #ffffff;
  font-size: 1.0em;
  float: left;
}

#histgram{
  grid-raw: 1 / 2;

  width:320px;
  height:120px;

  background-color: rgba(0, 0, 255, 0.0);
  color: #ffffff;
  text-align: center;

  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

/* for tablet */
@media screen and (min-width: 500px) and (max-width:700px) {
  #rankingWrapper{
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 120px 30px;

    position:fixed;
    bottom:0;
    left: 50%;
    margin-left:-250px;

    width:500px;
    height:150px;

  }

  #btn{
    grid-raw: 2 / 3;
    background-color: rgba(255, 255, 255, 0.0);
    /*opacity: 0.1;*/
    font-family: 'Nunito', sans-serif;
    font-weight: 400;


    list-style: none;
    overflow: hidden;
  }

  #btn li {
    width: 125px;
    text-align: center;
    color: #ffffff;
    font-size: 1.2em;
    float: left;
  }

  #histgram{
    grid-raw: 1 / 2;

    width:500px;
    height:120px;

    background-color: rgba(0, 0, 255, 0.0);
    color: #ffffff;
    text-align: center;

    font-family: 'Nunito', sans-serif;
    font-weight: 300;
  }
}

/* for PC medium */
@media screen and (min-width: 700px) and (max-width:900px) {
  #rankingWrapper{
    display: grid;
    grid-template-columns: 700px;
    grid-template-rows: 120px 30px;

    position:fixed;
    bottom:0;
    left: 50%;
    margin-left:-350px;

    width:700px;
    height:150px;

  }

  #btn{
    grid-raw: 2 / 3;
    background-color: rgba(255, 255, 255, 0.0);
    /*opacity: 0.1;*/
    font-family: 'Nunito', sans-serif;
    font-weight: 400;


    list-style: none;
    overflow: hidden;
  }

  #btn li {
    width: 175px;
    text-align: center;
    color: #ffffff;
    font-size: 1.2em;
    float: left;
  }

  #histgram{
    grid-raw: 1 / 2;

    width:700px;
    height:120px;

    background-color: rgba(0, 0, 255, 0.0);
    color: #ffffff;
    text-align: center;

    font-family: 'Nunito', sans-serif;
    font-weight: 300;
  }
}

/* for PC wide */
@media screen and (min-width:900px) {
  #rankingWrapper{
    display: grid;
    grid-template-columns: 900px;
    grid-template-rows: 120px 30px;

    position:fixed;
    bottom:0;
    left: 50%;
    margin-left:-450px;

    width:900px;
    height:150px;

  }

  #btn{
    grid-raw: 2 / 3;
    background-color: rgba(255, 255, 255, 0.0);
    /*opacity: 0.1;*/
    font-family: 'Nunito', sans-serif;
    font-weight: 400;


    list-style: none;
    overflow: hidden;
  }

  #btn li {
    width: 225px;
    text-align: center;
    color: #ffffff;
    font-size: 1.2em;
    float: left;
  }

  #histgram{
    grid-raw: 1 / 2;

    width:900px;
    height:120px;

    background-color: rgba(0, 0, 255, 0.0);
    color: #ffffff;
    text-align: center;

    font-family: 'Nunito', sans-serif;
    font-weight: 300;
  }
}

#btn li:hover {
  background: #ffa443;
}

.hiddenBtn{
  opacity: 0.0;
}
.normalBtn{
  background: #646464;
  opacity: 1.0;
}
.selectedBtn{
  background: #ffa443;
}


/* rank histgram */
#tooltipHist {
  position: absolute;
  text-align: center;
  font-size: 12px;
  padding : 1px 5px 1px 5px;
  color: #ffffff;
  opacity: 0.0;
  background-color: #646464;
  border-radius: 5px;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

#tooltipHist:before{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border: 5px solid transparent;
  border-top: 5px solid #646464;
}

/*#tooltipHist p {*/
  /*margin: 0;*/
  /*padding: 0;*/
/*}*/

.canvasWrapperPointer{
  cursor: pointer;
}

/* moueseover land */
#tooltip {
  position: fixed;
  /*width: 150px;*/
  /*bottom: 200px;*/
  /*left: 200px;*/
  /*width: 150%;*/
  text-align: center;
  padding : 0.1em 0.5em 0.1em 0.5em;
  color: #ffffff;
  opacity: 0.0;
  background-color: #646464;
  border-radius: 10px;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

/* search */
.ui-autocomplete {
    max-height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
}